 <header>
  <%= render 'layouts/application' %>
  <%= render 'layouts/menu' %>
</header>
<div id="chat-wrapper">
	<div class="container">
		<h4 id="game-id"></h4>
    	<div class="row">
      		<div class="col-sm-10" id="table">
            <div class="row" id="playing-field">
              <div class="col-sm-2 col-sm-offset-1">
                <div id="black-card">
                </div>
              </div>
              <div class="col-sm-8 col-sm-offset-1" id="voting-cards">
                <div class="row" id="voting-row-1">                  
                </div>
                <div class="row" id="voting-row-2">                  
                </div>
              </div>
            </div>
            <div class="row" id="table-footer">
              <div class="col-sm-3" id="timer">
                
              </div>
              <div class="col-sm-9" id="hand">
                <div class="row" id="hand-row-1">
                  <div class="col-sm-2" id="hand-col-0"></div>
                  <div class="col-sm-2  col-sm-offset-1"  id="hand-col-1"></div>
                  <div class="col-sm-2  col-sm-offset-1" id="hand-col-2"></div>
                  <div class="col-sm-2  col-sm-offset-1" id="hand-col-3"></div> 
                </div>
              </div>
            </div>
      		</div>
      		<div class="col-sm-2">
            <div class="row">
              <div id="player-list">
                <table id="scoreboard">
                  <tr>
                    <th>User</th><th>Score</th>
                  </tr>
                </table>
              </div>
            </div>
            <div class="row">
              <div id="message">
                <div id="chat">
                </div>
              </div>
              <div class="form-inline">
                <div class="form-group">
                  <input type="text" class="form-control" id="chatbox" placeholder="Enter a message">
                  <button class="btn btn-default" id="sendChat">Send</button>
                </div>
                
              </div>
            </div>
      			
    			</div>
  		</div>
	</div>
</div>
<script type="text/javascript">  
  var user_id = <%= current_user.id %>;
  var game_id = <%= @game.id %>; 

    var pusher = new Pusher('0453f37d99fca4cb4e22', {
      encrypted: true
    });

    var chn_name = 'game_'.concat(game_id);
    var channel = pusher.subscribe(chn_name);
    channel.bind('message_sent', function(data) {
        $('#chat').append('<span class="user">' + data.user + ' @ </span><span class="timestamp"> ' + data.timestamp + ' </span> <br /><span class="message" style="color:red; float: right">' + data.message + '</span><br />')


    });

    var game_state_channel = pusher.subscribe(chn_name);
    game_state_channel.bind('status_update', function(data) {
      console.log(data.game_state);
      current_game_state = JSON.parse(data.game_state);
      show_black_card();
      populate_scoreboard();
      populate_vote_cards(user_id);
      populate_hand(user_id);
    }); 

    //current_game_state.id = game_id;
    setTimeout(function() {
      $.get('/games/game_state?game_id='+game_id+'&game_user_id='+user_id);
    },3000);

    $.get('/games/game_state?game_id='+game_id+'&game_user_id='+user_id);
</script> 