 var current_game_state = {
	gameID: 1,
	round_id: 1,
	player_list: [
		{email:"iain" ,score: 10},
		{email:"player1" ,score: 14},
		{email:"player2" ,score: 9},
		{email:"player3" ,score: 4}
	],
	black_card: {id:10, text:"kid tested, mother-approved."},
	hand: [
		{id:1, text:"Being on fire."},
		{id:2, text:"Racism."},
		{id:3, text:"Old-people smell."},
		{id:4, text:"A micro&shy;penis."},
		{id:5, text:"Women in yo&shy;gurt com&shy;mercials."},
		{id:6, text:"Classit under&shy;tones."},
		{id:7, text:"Not giving a shit about the Third World."},
		{id:8, text:"Inserting a mason jar into my anus."}
	],
	vote_cards: [
		{id:1, text:"Being on fire."},
		{id:2, text:"Racism."},
		{id:3, text:"Old-people smell."},
		{id:4, text:"A micro&shy;penis."},
	],
	has_voted: false,
}
var game_id;
if(gon){
	game_id = gon.game_id
	console.log(gon.game_id)}
var count=30;
var counter=setInterval(timer, 1000); //1000 will run it every 1 second

function timer() {
  count=count-1;
  if (count <= 0) {
     clearInterval(counter);
     return;
  }
  $('#timer').html('00:' + count);
}

function display_game_id() {
	$('#game-id').append(current_game_state.gameID);
}

function show_black_card(){
	$('#black-card').html("__________: " + current_game_state.black_card.text)
					.data("card-id", current_game_state.black_card.id);
}

function populate_scoreboard(){
	var scoreboard = $('#scoreboard');
	current_game_state.player_list.forEach(function(player){
		scoreboard.append(
			'<tr>'+
            	'<th>'+ player.email +'</th><th>'+player.score+'</th>'+
            '</tr>'
        );
	});
}

function populate_vote_cards() {
	var voting_row_1 = $('#voting-row-1');

	var up_vote_button = current_game_state.has_voted ? '' : '<button class="btn btn-default up-vote"><%= image_tag "Thumb-Up.png", height: "20" %></button>';


	current_game_state.vote_cards.forEach(function(card, index){
		if (index == 0) {
			voting_row_1.append(
				'<div class="col-sm-2 white-card">' +
		        '<span class="white-card-text" id="'+card.id+'">'+card.text+'</span>' +
		        '<br/>' +
		        '<div class="vote-buttons" id="'+card.id+'">' +
		        up_vote_button + 
		        '</div>' +
		        '</div>'
			);
		} else {
			voting_row_1.append(
				'<div class="col-sm-2  col-sm-offset-1 white-card">' +
		        '<span class="white-card-text" id="'+card.id+'">'+card.text+'</span>' +
		        '<br/>' +
		        '<div class="vote-buttons" id="'+card.id+'">' +
		        up_vote_button +
		        '</div>' +
		        '</div>'
			);
		}
	});
}

function populate_hand() {
	var hand_column;
	
	current_game_state.hand.forEach(function(card, index){
		var column_num = index % 4;
		hand_column = $('#hand-col-'+ column_num);
		hand_column.append(
			'<div class="white-card">'+
                '<span class="white-card-text" id="'+ card.id+'">'+ card.text +'</span>'+
             '</div>'
		);
	});
}

$(document).ready(function() {
	console.log('Loaded DOM');
	$('#sendChat').click(function() {
		var value = $('#chatbox').val();
		if( !value) {
			console.log("You f'ed up");
		} else {
			console.log(value);

			var URI = '/chat/message';
			var payload = {message: value, gameID: game_id};

			$.post(URI, payload, function() {
				$('#chatbox').val("");
				console.log("Made post request");
			});
		}	
	});

	$('#voting-row-1').on('click', '.up-vote', function() {
    	current_game_state.has_voted = true;
    	var card_id = $(this).parent().attr('id');

 
    	$.get('/votes/create?game_id='+current_game_state.gameID+'&round_id='+current_game_state.round_id+'&card_round_id='+card_id+'');

    	$('button').remove('.up-vote');
	});


	$('.join_button').click(function(){
		$.get( "game_users/create", { game_id: 1 } )
  			.done(function( data ) {
    			alert( "Data Loaded: " + data );
    			window.location.replace('games/start/'+1);
 		 });
	});


	$('#hand').on('click', '.white-card', function() {
		var voting_row_2 = $('#voting-row-2');
		var card = $(this).children().first();
		var card_text = card.text();
		var card_id = card.attr('id');

		//add $.get() method hear to let game engine know 
		//that the user has selected a card to be voted on

		voting_row_2.append(
				'<div class="col-sm-2 white-card">' +
		        '<span class="white-card-text" id="'+ card_id+'">'+card_text+'</span>' +
		        '</div>'
		        );
		$(this).hide();
		$('#hand').off('click', '.white-card');
	});

    var pusher = new Pusher('0453f37d99fca4cb4e22', {
      encrypted: true
    });

    var chn_name = 'game_'.concat(current_game_state.gameID);
    var channel = pusher.subscribe(chn_name);
    channel.bind('message_sent', function(data) {
      	$('#chat').append('<span class="user">' + data.user + ' @ </span><span class="timestamp"> ' + data.timestamp + ' </span> <br /><span class="message" style="color:red; float: right">' + data.message + '</span><br />')


    });

    var game_state_channel = pusher.subscribe(chn_name);
    game_state_channel.bind('status_update', function(data) {
    	console.log(data);
    });

    
    display_game_id();
    show_black_card();
    populate_scoreboard();
    populate_vote_cards();
    populate_hand();
	timer();

});